
/* The basic structure was built from referencing Weeks 3's lab tutorials */

*, *::after, *::before {
	box-sizing: border-box;
}

.grid, section.location {
	display: -webkit-flex; 			/* Supports older browsers */
	display: -ms-flex; 				/* Supports Internet 10 */
	display: flex;
	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.grid-product {
	display: -webkit-flex; 			/* Supports older browsers */
	display: -ms-flex; 				/* Supports Internet 10 */
	display: flex;
	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col-1of12 {
	flex: 1 1 8%;
	border: #eee solid .15rem;
	text-align: center;
	padding: 15rem .5rem 15rem 1rem;
}

.full-service .grid-col-1of1.buttons {
	display: flex;
	flex-wrap: wrap;
}

.grid-col-2 {
	display: block;
}

/* ------ Nav Bar ------ */
nav .col-1of2 {
	flex: 10 1 10%;
}

nav .col-1of6  {
	flex-grow: 0.5;
}

/* ------ Hero Sections ------ */
.home.hero   {
  display: flex;
  background-image: url("../img/hero/hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* ------ Review Section ------ */

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.review-content {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}

.stars {
  display: inline-block;
}

/* ------ Form Styling ------ */
form .col-1of1 {
	flex-direction: column;
	align-content: flex-start;
}

form .col-1of2 {
	flex: 1 1 100%;
}


/* ------ Cart Template ------ */ 
.col4 { 
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-column-gap: 20px; 
	align-items: center; 
	text-align: center; 
} 
.col4 { 
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-column-gap: 10px; 
	align-items: center; 
	text-align: center; 
	padding-top: 5rem; 
} 

/* ------ Landing Page ------ */
.col-1of1-xs {
	flex: 1 1 100%;
}

.col-1of3, .col-2of3, .col-3of3 {
	flex-basis: 25%;
}

.col-2of2, .col-2of2-reverse {
	flex: 1 1 10%;
}

.grid-item.footer {
	height: 200px;
	flex: 1 1 100%;
}

/* ------ Full Service Flow ------ */

.full-service .left-align { 
	background-color: #fff;
	padding: 1rem 4rem 4rem 0rem;
	flex: 1 0 50%;
} 

.full-service .right-align { 
	background-color: #fff;
	padding: 1rem 4rem 4rem 1rem;
	flex: 1 0 50%;
} 

/* ---------- MEDIA QUERIES ---------- */

/* ----------  PHONE AND BELOW  ---------- */
@media screen and (max-width: 37em) {

	nav .col-1of6 a {
		font-size: 1.1rem;
		letter-spacing: 0.05rem;
		line-height: 2.7rem;

	}

	h2 {
		font-size: 3rem;
		font-weight: 100;
	}

	h3 {
		font-size: 1.5rem;
	}

	.btn-main {
		font-size: 1rem;
		padding: 1rem 2rem;
		border-radius: 2.3rem;
	}

	section.detailed-product {
		padding: 5rem;
	}

	/*----- Nav Bar ------*/
	.announcement-bar {
		padding: 1rem;
		font-size: 1.2rem;
	}

	nav .col-1of6, nav .col-1of2 {
		flex: 1 1 100%;
		text-align: center;
	}

	nav .col-1of2 {
		margin-left: -3rem;
		padding-top: 1.5rem;
	}

	nav .col-1of6.search-bar {
		text-align: center;
		margin: auto;
		padding-right: 0;
	}

	nav .col-1of6 input{
		text-align: center;
		margin: auto;
	}

	 nav .col-1of2 a {
	 	padding: 0;
	 }

	 nav.grid img.logo {
	 	width: 10rem;
	 	height: auto;
	 }

	  nav .col-1of6 img {
	  	width: 30%;
	 	height: auto;
	  }

	 /*----- Home Hero ------*/
	 .hero .hero-text h1 {
   		padding-top: 0;
   		margin-top: 0rem;
    	font-size: 3.2rem;
		max-width: none;
		line-height: 3.5rem;
	}

	/*----- Home - 3 Tiles ------*/
	.menu {
		margin: 2rem 0rem 2rem 0rem;
	}

	.menu img {
		width: 20rem;
		height: 100%;
	}

	.menu p {
		font-size: .85rem;
	}

	section.categories{
    	padding: 5rem 2rem 5rem 2rem;
	}


	/*----- Home - Alternating Content ------*/
	.alternating-content-text{
		text-align: center;
		padding: 0;
	}

	.alternating-content p {
		max-width: 50rem;
	}

	.alternating-content {
		padding: 2rem;
	}

	/*----- Shop - Products Grid ------*/
	.product-item.col-1of3, .product-item.col-2of3, .product-item.col-3of3 {
		flex-basis: 100%;
	}

	.product-item.col-1of3, .product-item.col-2of3  {
		padding-bottom: 3rem;
	}

	.product-item img {
		width: 100%;
		height: auto;
	}

	.product-item p.product-name {
		font-size: 2.4rem;
		padding: 1rem 0rem 1rem 0rem;
		max-width: 50rem;
		line-height: 2.5rem;
	}

	p.price {
		font-size: 1.5rem;
		max-width: 50rem;
	}

	.grid.products {
		text-align: center;
	}

	.btn-add {
		font-size: 1rem;
		padding: 1rem;
		border-radius: 1.4rem;
	}

	section.products {
		padding: 0rem 2rem 0rem 2rem;
	}

	/*----- About - Hero ------*/
	.about .hero-text {
		padding: 3rem;
	}

	.about h1 {
		text-align: left;
	}

	/*----- About - Values ------*/
	.values img, .values.col-2of3 img {
		width: 4rem;
		height: auto;
	}

	.values.col-1of3, .values.col-2of3, .values.col-3of3 {
		flex-basis: 100%;
		padding: 1rem 0rem 3rem 0rem;
	}

	.values p {
		max-width: 28rem;
		margin: auto;
	}


	/*----- Support ------*/
	section.faq {
		padding-top: 0rem;
	}

	/*----- Detailed Product Listing ------*/
	section.detailed-product {
   		 padding: 5rem 3rem 5rem 3rem ;
	}

	.stars p {
		font-size: 1.7rem;
	}

	label, select, input {
		font-size: 1.1rem;
	}

 	select, input {
		padding: 10px 15px;
	}

	.review.form, .review-content {
		padding: 3rem;
	}

	#fname, #lname, #email-ad, #email {
		width: 100%;
	}

	input#review-body {
   	 	padding-bottom: 10rem;
	}

	.btn-submit {
		font-size: 1rem;
	}

	section.review {
		padding: 0;
	}

	.product-img img {
		width: 100%;
		height: auto;
	}

	/*-----Shop ------*/
	.hero-text {
    	padding: 8rem 3rem 5rem 3rem !important;
	}

	/*----- FAQ ------*/
	.faq .hero-text {
		margin: auto;
	}

	.faq.hero {
		padding-top: 7rem;
	}

	section.faq {
		padding: 0rem 0rem 5rem 0rem;
	}

	/*----- Services - 3 Tiles ------*/
	.menu.services p {
		left: 3.5rem;
		top: 6rem;
	}

	/*----- Footer ------*/
	.child-footer.location, .child-footer.contact, .child-footer.mailing-list {
		max-width: none;
	}

	.child-footer.mailing-list button {
		color: #20605A;
		border-radius: .3rem;
		border: .1rem solid  #20605A;
		background-color: #F2EAE4;
		width: 100%;
	}

	/*------ Forms ------*/
	.cart form, .full-service form {
   		 padding: 1rem 1rem 1rem 2rem;
	}

	form .grid-col-1of2 {
    	 padding-right: 0;
 	}

	/*----- Full Service Flow ------*/
	.half-width-left {
   		 padding: 5em 0rem 5rem 0rem;
	}

	/*----- Full Service Flow  ------*/
	.full-service .left-align { 
		background-color: #fff;
		padding: 1rem 4rem 4rem 0rem;
		flex-basis: 100%;
	} 

	.full-service .right-align { 
		background-color: #fff;
		padding: 1rem 4rem 4rem 1rem;
		flex-basis: 100%;
	} 
	
}

/* ----------  TABLET AND BELOW  ---------- */
@media (max-width: 48em) {

	/*----- Nav Bar------*/
	nav .col-1of6 img {
		height: auto;
	}

	.home .hero-text h1, .hero-text {
		text-align: center;
	}

	.hero-text {
		padding: 8rem 5rem 5rem 5rem;
	}

	.hero button {
		margin-bottom: 2rem;
	}

	/*----- Home - 3 Tiles------*/
	.menu {
		margin: 2rem 0rem 2rem 0rem;
	}

	/*----- Home - Alternating Content ------*/
	.col-2of2, .col-2of2-reverse {
		flex: 1 1 100%;
		text-align: center;
	}

	.alternating-content-text h2 {
		padding: 2rem 0rem 2rem 0rem;
	}

	.alternating-content-text {
		text-align: center;
		padding-bottom: 2rem;
	}

	.alternating-content p {
		font-size: 1.2rem !important;
		margin: auto;
		max-width: 35rem;
	}

	.alternating-content-text.col-2of2 {
		text-align: center;
	}

	.alternating-content-img img {
		width: 100%;
		height: auto;
	}

	/*----- Shop - Hero ------*/
	.shop p {
		font-size: 1.3rem;
	}

	.col-1of3, .col-2of3, .col-3of3 {
    	flex-basis: 50%;
    	padding: 0rem 2rem 5rem 3rem;
	}

	/*----- Detailed Product Listing ------*/
	.product-img, .product-desc {
		padding-right: 0;
		padding-bottom: 3rem;
	}

	.col-2of2 {
		text-align: left;
	}

	/*----- About - Location ------*/
	.alternating-content-img.col-1of2{
		flex: 1 1 100%;
	}

	/*----- Full Service Flow  ------*/
	.full-service .left-align { 
		background-color: #fff;
		padding: 0rem 0rem 0rem 0rem;
		flex-grow: 2;
	} 

	.full-service .right-align { 
		background-color: #fff;
		padding: none;
		flex-grow: 2;
	} 

	form .name-item {
		padding-right: 0;
	}

	.full-service h1 {
		margin: 3rem 1rem 3rem 0rem;
		text-align: center;
	}
}


/* ----------  DESKTOP AND BELOW ---------- */
@media (max-width: 75em) {
}
