
/* The basic structure was built from referencing Weeks 3's lab tutorials */

*, *::after, *::before {
	box-sizing: border-box;
}

/* ------ Nav Bar  ------ */
.grid {
	display: -webkit-flex; 			/* Supports older browsers */
	display: -ms-flex; 				/* Supports Internet 10 */
	display: flex;
	flex-wrap: -webkit-flex; 
	flex-wrap: -ms-flex; 	
	flex-wrap: wrap;
	justify-content: space-around;
}


/* ------ Top Nav ------ */

nav .grid-col-1of2 {
	flex: 2 1 40%;
}

nav .grid-col-1of6  {
	flex: .5 1 5%;
}

nav .grid-col-1of6.search-bar  {
	padding-right: 3rem;
}

/* ------ Hero Sections ------ */
.hero {
  display: flex;
  background-image: url("../img/hero-img.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 26rem;
}

.shop .hero {
  display: flex;
  background-image: url("../img/victoria-priessnitz.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 23rem;
}

.about .hero {
  display: flex;
  background-image: url("../img/annie-spratt.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 24rem;
}


/* ------ Alternating Content ------ */
section.location {
	text-align: center;
}

section.location .col-2of2{
	padding-left: 2rem;
	text-align: left;
}

/* ------ Review Section ------ */

.review {
  display: flex;
  flex-direction: column;
}

.review-content {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}

.review-star-rating {
  display: flex;
  flex-direction: row;
}

/* ------ Form Styling ------ */

.grid-col-1of1, .grid-col-1of-3, .grid-col-1of2  {
	/*display: flex;*/
}

form .grid-col-1of1 {
	flex-direction: column;
	align-content: flex-start; 
}

form .grid-col-1of2 {
	flex: 1 1 100%;
}

/* ------ Landing Page ------ */
.col-1of1-xs {
	height: 30px;
	flex: 1 1 100%;
}

.col-1of1-s{
	height: 55px;
	flex: 1 1 100%;
}

.col-1of1-lg {
	height: 350px;
	flex: 1 1 100%;
}

.col-1of3, .col-2of3, .col-3of3 {
	flex-basis: 20%;
}


.col-1of2, .col-1of2-reverse {
	/*flex: 2 1 80%;*/
}

.col-2of2, .col-2of2-reverse {
	flex: 1 1 40%;
}

.grid-item#title{ 
	height: 50px;
	flex: 3 1 100%;
}

.input-row1, .input-row4  {
	height: 30px;
	flex: 1 1 27%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.input-row2 {
	height: 30px;
	flex: 2 1 57%;
}

.input-row3 {
	height: 30px;
	flex: 1 1 17%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right:0.7rem;
}

/*.grid-item.button { 
	height: 50px;
	flex: 1 1 3%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
}*/

/*.grid-item.blank {
	background-color: #FFF;
	flex: 2 1 30%;
}*/

.grid-item.footer {
	height: 200px;
	flex: 1 1 100%;
}

/* ------ Support Template ------ */ 
.side-nav-container {
	height: 300px;
  	display: flex;
  	flex-direction: column;
 	flex: 1 1 25%;
 	background-color: #eee;
 	border: .5px dashed #333;
 	text-align: center;
}

.body-container {
	display: flex;
  	flex-direction: column;
	height: 800px;
	flex: 1 1 75%;
	background-color: #eee;
 	border: .5px dashed #333;
 	text-align: center;
}

.side-nav-container.menu-item1, .side-nav-container.menu-item2, .side-nav-container.menu-item3 {
	height: 100px;
	flex: 1 1 20%;
}

/* ------ Cart Template ------ */
.cart-container {
	display: flex;
  	flex-direction: row;
	height: 500px;
	flex: 1 1 100%;
	background-color: #eee;
 	border: .5px dashed #333;
 }

 .title-container .row-1of4, .title-container .row-2of4, .title-container .row-3of4, .title-container .row-4of4 {
	background-color: #ddd;
	border: .5px dashed #333;
	margin: .75rem;
	text-align: center;
	flex: 1 1 50%;
}

.cart-container .col-1of4, .cart-container .col-2of4, .cart-container .col-3of4, .cart-container .col-4of4  {
	background-color: #ddd;
	border: .5px dashed #333;
	margin: .75rem;
	text-align: center;
	flex: 1 1 100%;
}

/*.cost-container{
	display: flex;
  	flex-direction: row;
	height: 300px;
	width: 50%
	flex: 1 1 100%;
	background-color: #eee;
 	border: .5px dashed #333;
}*/

/* ------ Services Template ------ */
.grid-item#blank-row-1of1 {
	background-color: #FFF;
	flex: 1 1 100%;
	height: 200px;
}

.grid-item.col-1of2-equal, .grid-item.col-2of2-equal {
	height: 200px;
	flex: 1 1 20%;
	margin-right: 10rem;
	margin-left: 10rem;
	margin-bottom: 10rem;
	margin-bottom: 10rem;
	margin-top: 1rem;
}


/* ---------- Media Queries ---------- */
/* Phone and below */
@media (max-width: 37em) {
	.btn-submit {
		width: 100%;
	}

	.nav-secondary-item {
		max-width: 100%;
		margin-top: 5rem;
	}

	.nav-secondary-item a  {
		padding: 15px 19px;
		margin-top: 5rem;
	}

	.top-left {
/*	  position: absolute;
	  top: 0rem;
	  left: 5rem;*/
	  display: flex;
	  justify-content: flex-start;
	}

	.top-left h1 {
	  max-width: 15rem;
	  font-size: 1.5rem;
	}

	.top-left button {
		margin-top: 1rem;
	} 

	h2.services{
		margin-top: 50rem;
	}

	 h2.landing, h2.shop {
	 	margin-top: 20rem;
	 }
}

/* Tablet and below */
@media (max-width: 48em) {
	.btn-submit {
		width: 40%;
	}
}

/* Desktop and below */
@media (max-width: 75em) {
	.top-left {
	  position: absolute;
	  top: 4rem;
	  left: 5rem;
	}

	.top-left h1 {
	  max-width: 40rem;
	}

	.top-left button {
		margin-top: 1rem;
	} 

	h2.services{
		margin-top: 50rem;
	}

	 h2.landing {
	 	margin-top: 10rem;
	 }

	 h2.shop {
	 	margin-top: -10rem;
	 }
}

