
/* The basic structure was built from referencing Weeks 3's lab tutorials */

*, *::after, *::before {
	box-sizing: border-box;
}

.grid-item {
	background-color: #eee;
	border: 1px dashed #000;
	text-align: center;
}

.grid, section.location {
	display: -webkit-flex; 			/* Supports older browsers */
	display: -ms-flex; 				/* Supports Internet 10 */
	display: flex;
	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* ------ Nav Bar ------ */

nav .col-1of2 {
	flex: 7 1 40%;
}

nav .col-1of6  {
	flex: 2 1 2%;
}

/* ------ Hero Sections ------ */
.home.hero {
  display: flex;
  background-image: url("../img/hero/hero-img.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 24rem;
}

.about.hero {
  display: flex;
  background-image: url("../img/hero/annie-spratt.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 24rem;
}

.faq.hero {
  display: flex;
  background-image: url("../img/hero/annie-spratt.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 24rem;
}

/* ------ Review Section ------ */

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.review-content {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}

.review-star-rating {
  display: flex;
  flex-direction: row;
}

/* ------ Form Styling ------ */
form .col-1of1 {
	flex-direction: column;
	align-content: flex-start;
}

form .col-1of2 {
	flex: 1 1 100%;
}

/* ------ Landing Page ------ */
.col-1of1-xs {
	/*height: 30px;*/
	flex: 1 1 100%;
}

/*.col-1of1-s{
	height: 55px;
	flex: 1 1 100%;
}

.col-1of1-lg {
	height: 350px;
	flex: 1 1 100%;
}
*/
.col-1of3, .col-2of3, .col-3of3 {
	flex-basis: 30%;
}

/*.col-1of2, .col-1of2-reverse {*/
	/*flex: 2 1 80%;*/
/*}*/

.col-2of2, .col-2of2-reverse {
	flex: 1 1 40%;
}

/*.grid-item#title{
	height: 50px;
	flex: 3 1 100%;
}

.input-row1, .input-row4  {
	height: 30px;
	flex: 1 1 27%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.input-row2 {
	height: 30px;
	flex: 2 1 57%;
}

.input-row3 {
	height: 30px;
	flex: 1 1 17%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right:0.7rem;
}
*/
/*.grid-item.button {
	height: 50px;
	flex: 1 1 3%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
}*/

/*.grid-item.blank {
	background-color: #FFF;
	flex: 2 1 30%;
}*/

.grid-item.footer {
	height: 200px;
	flex: 1 1 100%;
}

/* ------ Support Template ------ */
/*.side-nav-container {
	height: 300px;
  	display: flex;
  	flex-direction: column;
 	flex: 1 1 25%;
 	background-color: #eee;
 	border: .5px dashed #333;
 	text-align: center;
}*/

/*.body-container {
	display: flex;
  	flex-direction: column;
	height: 800px;
	flex: 1 1 75%;
	background-color: #eee;
 	border: .5px dashed #333;
 	text-align: center;
}

.side-nav-container.menu-item1, .side-nav-container.menu-item2, .side-nav-container.menu-item3 {
	height: 100px;
	flex: 1 1 20%;
}*/

/* ------ Cart Template ------ */
/*.cart-container {
	display: flex;
  	flex-direction: row;
	height: 500px;
	flex: 1 1 100%;
	background-color: #eee;
 	border: .5px dashed #333;
 }

 .title-container .row-1of4, .title-container .row-2of4, .title-container .row-3of4, .title-container .row-4of4 {
	background-color: #ddd;
	border: .5px dashed #333;
	margin: .75rem;
	text-align: center;
	flex: 1 1 50%;
}

.cart-container .col-1of4, .cart-container .col-2of4, .cart-container .col-3of4, .cart-container .col-4of4  {
	background-color: #ddd;
	border: .5px dashed #333;
	margin: .75rem;
	text-align: center;
	flex: 1 1 100%;
}*/

/*.cost-container{
	display: flex;
  	flex-direction: row;
	height: 300px;
	width: 50%
	flex: 1 1 100%;
	background-color: #eee;
 	border: .5px dashed #333;
}*/

/* ------ Services Template ------ */
/*.grid-item#blank-row-1of1 {
	background-color: #FFF;
	flex: 1 1 100%;
	height: 200px;
}*/

/*.grid-item.col-1of2-equal, .grid-item.col-2of2-equal {
	height: 200px;
	flex: 1 1 20%;
	margin-right: 10rem;
	margin-left: 10rem;
	margin-bottom: 10rem;
	margin-bottom: 10rem;
	margin-top: 1rem;
}*/


/* ---------- Media Queries ---------- */
/* ----------  Phone and below  ---------- */
@media screen and (max-width: 37em) {

	p, nav .col-1of6 a {
		font-size: 1.3rem;
		letter-spacing: 0.05rem;
		line-height: 2.7rem;
	}

	p {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 3rem;
		font-weight: 100;
	}

	h3 {
		font-size: 1.5rem;
	}

	.btn-main {
		font-size: 1.3rem;
		padding: 2rem 2.2rem;
		border-radius: 2.3rem;
	}

	/*----- Nav Bar ------*/
	.announcement-bar {
		padding: 1rem;
		font-size: 1.2rem;
	}

	nav .col-1of6, nav .col-1of2 {
		flex: 1 1 100%;
		text-align: center;
	}

	nav .col-1of2 {
		margin-left: -3rem;
		padding-top: 1.5rem;
	}

	nav .col-1of6.search-bar {
		text-align: center;
		margin: auto;
		padding-right: 0;
	}

	nav .col-1of6 input{
		text-align: center;
		margin: auto;
	}

	 nav .col-1of2 a {
	 	padding: 0;
	 }

	 nav.grid img.logo,  nav .col-1of6 img {
	 	width: 35%;
	 	height: auto;
	 }

	 /*----- Home Hero ------*/
	 .hero .hero-text h1 {
   		padding-top: 0;
   		margin-top: 0rem;
    	padding-left: 0;
    	font-size: 3.2rem;
		max-width: none;
		line-height: 3rem;
		text-align: center;
	}

	.hero {
		background-size: 150%;
		height: auto;
	}

	.hero .hero-text {
		  margin: 0;
		  text-align: center;
		  padding-left: 0 !important;
	}

	.home.hero {
		background-size: 70rem;
	}


	/*----- Home - 3 Tiles ------*/
	.grid .menu.col-1of3, .grid .menu.col-2of3, .grid .menu.col-3of3  {
		flex-basis: 100%;
		text-align: center;
	}

	.grid .menu.col-1of3 p, .grid .menu.col-2of3 p, .grid .menu.col-3of3 p  {
		position: absolute;
		top: 5.5rem;
		left: 19rem;
	}

	.grid .menu.col-1of3, .grid .menu.col-2of3 {
		padding-bottom: 3rem;
	}

	.menu {
		padding-bottom: 5rem;
		flex: 1 1 100%;
	}

	.menu img {
		width: 20rem;
		height: 100%;
	}

	.menu p {
		top: 6rem;
		left: 5rem;
		font-size: 2.3rem;
	}

	/*----- Home - Alternating Content ------*/
	.alternating-content-text{
		text-align: center;
		padding-bottom: 2rem;
		padding-top: 2rem;
	}

	.alternating-content p {
		max-width: 50rem;
	}

	/*----- Shop - Products Grid ------*/
	.product-item.col-1of3, .product-item.col-2of3, .product-item.col-3of3 {
		flex-basis: 100%;
	}

	.product-item.col-1of3, .product-item.col-2of3  {
		padding-bottom: 3rem;
	}

	.product-item img {
		width: 60%;
		height: auto;
	}

	.product-item p.product-name {
		font-size: 2.8rem;
		padding: 1rem 0rem 1rem 0rem;
		max-width: 50rem;
	}

	p.price {
		font-size: 1.8rem;
		max-width: 50rem;
		padding-bottom: 2rem;
	}

	.grid.products {
		text-align: center;
	}

	.btn-add {
		font-size: 1.5rem;
		padding: 1rem;
		border-radius: 1.4rem;
		float: none;
		margin-right: 0;
	}

	/*----- About - Hero ------*/
	.about h1 {
		color: #fff;
	}

	.about > .hero > .text > h1 {
		font-size: 3.2rem;
		max-width: 40rem;
		line-height: 4rem;
		padding-left: 0;
	}

	.about .hero-text h1 {
		padding-left: 0 !important;
	}

	.about > .hero > .text > p {
		padding-top: 8rem;
	}

	/*----- About - Values ------*/
	.values img, .values.col-2of3 img {
		width: 20%;
		height: auto;
	}

	.values.col-1of3, .values.col-2of3, .values.col-3of3 {
		flex-basis: 100%;
	}

	.values.col-1of3, .values.col-2of3 {
		padding-bottom: 8rem;
	}

	.values h3 {
		font-size: 1.5rem;
	}

	.values p {
		text-align: center;
		max-width: 28rem;
		margin: auto;
	}

	.values {
		text-align: center;
	}

	/*----- Support ------*/
	section.faq {
		padding-top: 0rem;
	}

	/*----- Detailed Product Listing ------*/
	.detailed-product {
		padding: 3rem;
	}

	.product-desc h2.price {
		font-size: 2rem;
	}

	.review-star-rating p {
		font-size: 1.7rem;
	}

	label, select, input {
		font-size: 1.7rem;
	}

 	select, input {
		padding: 10px 15px;
	}

	.review.form, .review-content {
		padding: 3rem;
	}

	#fname, #lname, #email-ad {
		width: 100%;
	}

	input#review-body {
   	 	padding-bottom: 10rem;
	}

	.btn-submit {
		font-size: 1.5rem;
	}

	/*----- FAQ ------*/
	.faq .hero-text {
		margin: auto;
	}

	.faq.hero {
		background-size: 70rem;
		height: auto;
		padding-top: 7rem;
	}

	section.faq {
		padding-top: 5rem;
	}

	/*----- About - Location ------*/
	.alternating-content-img.col-1of2{
		flex: 2 1 100% !important;
	}

	.alternating-content-text.col-2of2{
		flex: 1 1 100% !important;
		text-align: center !important;
	}

}

/* ----------  Tablet and below  ---------- */
@media (max-width: 48em) {

	p {
		font-size: 1.1rem;
	}

	/*----- Nav Bar------*/
	nav .col-1of6 img {
		width: 35%;
		height: auto;
	}

	/*----- Home Hero ------*/
	.home.hero {
		background-size: 60rem;
		height: auto;
	}

	.home .hero-text h1 {
		margin: 0;
	}

	.hero button {
		margin-bottom: 2rem;
	}

	.home .hero-text {
    	padding-left: 5rem;
	}

	/*----- Home - 3 Tiles ------*/
	.menu {
		flex: 1 1 50%;
	}

	/*----- Home - Alternating Content ------*/
	.col-2of2, .col-2of2-reverse {
		flex: 1 1 100%;
		text-align: center;
	}

	.alternating-content-text h2 {
		padding: 2rem 0rem 2rem 0rem;
	}

	.alternating-content-text {
		text-align: center;
		padding-bottom: 2rem;
	}

	.alternating-content p {
		font-size: 1.2rem !important;
		margin: auto;
		max-width: 35rem;
	}

	.alternating-content-text.col-2of2 {
		text-align: center;
	}

	.alternating-content-img img {
		width: 100%;
		height: auto;
	}

	/*----- Shop - Hero ------*/
	.shop p {
		font-size: 1.3rem;
	}

	.hero-text {
		padding-left: 0;
	}

	.col-1of3, .col-2of3, .col-3of3 {
    	flex-basis: 50%;
    	padding: 0rem 2rem 5rem 3rem;
	}

	/*----- Detailed Product Listing ------*/
	.product-img, .product-desc {
		padding-right: 0;
		padding-bottom: 3rem;
	}

	.col-2of2 {
		text-align: left;
	}

	/*----- About - Hero ------*/
	.about.hero {
		background-size: 80rem;
		height: auto;
	}
	.about .hero-text h1 {
		padding-left: 5rem;
		max-width: 40rem;
	}

	/*----- About - Location ------*/
	.alternating-content-img.col-1of2{
		flex: 1 1 40%;
	}

	.alternating-content-text.col-2of2{
		flex: 1 1 30%;
		text-align: left;
	}
}



/* ----------  Desktop and below ---------- */
@media (max-width: 75em) {
}
