
/*<!--The structure of this CSS document was built from referencing Weeks 2's lab tutorials-->*/
html {
	line-height: 1.8rem;
	padding: 3rem 3rem;
}

body {
	font-family: "Suisse Intl Regular", Verdana, sans-serif; 
	margin: 0rem;
	font-size: 0.9rem;
	letter-spacing: 0.03rem;
}

p, figcaption {
	max-width: 38rem;
}

.nav-secondary-item {
	max-width: 100%;
	margin-top: 2rem;
}

/* Nav bar tutorial from https://www.w3schools.com/howto/howto_css_navbar_border.asp */
.nav-secondary-item a  {
	padding: 10px 19px;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	color: #20605A;
	border: 2px solid #20605A;
	font-size: .8rem
}

.nav-secondary-item a:hover, .nav-secondary-item a:active  {
	background-color: #20605A;
	color: white;
}


/*Referenced Stack Overflow for bg colour to adjust to text length*/
h1.template {
	font-family: "Suisse Intl Regular", Verdana, sans-serif; 
	display: inline-block;
	padding-bottom: 0;
	padding-top: 4rem;
	border-bottom: 1.5px solid #000;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
}

section h1 {
		padding-top: 4rem;
}

h1 {
	font-family: "FreightBigPro-SemiBold", Verdana, sans-serif; 
	font-size: 1.8rem;
	letter-spacing: 0.08rem;
	text-align: center;
}


h2 {
	font-family: "FreightBigPro-SemiBold", Verdana, sans-serif; 
	font-size: 1.5rem;
	margin-bottom: 0;
	letter-spacing: 0.08rem;
}


/*h2.landing, h2.support {
	margin-top: 4rem;
}

h2.shop, h2.check-out {
	margin-top: -15rem;
}

h2.services {
	margin-top: 10rem;
}*/

h3 {
	font-family: "FreightBigPro-SemiBold", Verdana, sans-serif; 
	font-size: 1.2rem;
	margin-bottom: 0;
	letter-spacing: 0.04rem;
	text-align: center;
}

nav.grid {
	box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.05); /* Box shadow from https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
	justify-content: center;  /*Center align items from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	padding: 1rem;
} 

.grid a {
	padding-bottom: 0;
}

section {
	padding-bottom: 5rem;
}

section#task1, section#task2, section#task3, section#task4, section#task5 {
	padding-bottom: 30px;
}

section.wireframes img {
	width: 80%;
    height: auto;
}

section.sitemap img, section.mockups img {
	width: 60%;
	height: auto;
}

section.definition p, .citations p {
	padding-bottom: 2.5rem;
}

section h1 {
	font-family: "SuisseIntl-Normal", Verdana, sans-serif; 
	font-weight: 600;
	font-size: .9rem;
	margin-bottom: 0;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-align: left;
}

figure {
	margin-left: 0;
}

code {
	background: #EFEFEF;
	padding: 0.2rem;
	display: block;
	max-width: 50rem;
	font-size: 0.7rem;
	line-height: 0.9rem;
	margin-bottom: 5rem;
}


/* ---------- Interactive Elements ---------- */
/* ------ In-Text Link ------*/
a {
	color: #339F95;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	background-color: white;
	color: #20605A;
	text-decoration: none;
	transition: color 0.5s;
}

section.in-text a {
	text-decoration: underline black;
	padding: .25rem .25rem;
}

section.in-text a:hover, section.in-text a:focus, section.in-text a:active {
	color: white;
	background-color: #0B6108;
	text-decoration: none;
	transition: color 0.5s;
	padding: .25rem .5rem;
	max-width: 8rem;
}


/* ------ Buttons ------*/
.btn-main { /*-Referenced John Fauld's "Styling Form Buttons" article for styling buttons -->*/
	font-family: "Suisse Intl Regular", Verdana, sans-serif; 
	font-size: 0.8rem;
	color: white;
	background-color: #004C45;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	padding: 0.7rem 1.5rem;
	border-radius: 1.2rem;
	opacity: 0.9;
	border: none;
	margin-top: 2rem;
}

.btn-submit {
	font-size: 0.9rem;
	color: #004C45;
	background-color: #fff;
	letter-spacing: 0.1rem;
	border: none;
	text-transform: uppercase;
	opacity: 0.9;
	font-weight: 1000;
	margin-top: 2rem;
	padding: 0;
}

.btn-main:hover, .btn-main:focus, .btn-submit:hover, .btn-submit:focus { /*Reference W3schools.com for styling button hover*/
	opacity: 1;
}

.btn-submit:hover, .btn-submit:focus { 
	border-bottom: 2px solid #004C45;
}

/* ------ Colour Swatches ------*/
div {
	height: 150px;
	display: inline-block;
}

div p.colour {
	padding: 2rem;
	margin: 0;
	text-align: center;
}

div.white {
	background-color: #ffffff;
	border: 1px solid #EFEFEF;
}

div.green {
	background-color: #20605A;
	color: #ffffff;
}

div.grey {
	background-color: #474747;
	color: #ffffff;
}

div.beige {
	background-color: #F2EAE4;
}

div.pink {
	background-color: #DDAAA0;
}

div.white p, div.beige p, div.pink p, div.grey p, div.green p {
	max-width: 13rem;
}

div.grey p.blk-text, div.green p.blk-text  {
	color: #000;
}

/* ------ Forms ------*/
input {
  /*max-width: 50rem;*/
  padding: 5px 10px; /*top and bottom, right and left*/
  display: block;
  border: 1px solid #C8C8C8;
  border-radius: 4px;
  box-sizing: border-box;
  color: #474747;
  margin: 0;
} 

input[type=text]:hover{
  border: 1px solid #20605A;
  transition-property: border-color;
  transition-duration:0.4s;
  opacity: .5;
} 

input[type=text]:focus {
	color: #474747;
}

/* Remove default outline on text inputs from https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: #20605A;
} 


/* ---------- Text Styling ---------- */
/* Headings */
h1.web {
	font-family: "FreightBigPro-SemiBold", Verdana, sans-serif; 
	font-size: 3rem;
	margin-bottom: 0;
	letter-spacing: 0.04rem;
	text-transform: none;
}

h2.web {
	font-size: 2rem;
}

h3.web {
	font-family: "SuisseIntl-Normal", Verdana, sans-serif; 
	font-weight: 600;
	font-size: .9rem;
	margin-bottom: 0;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-align: left;
}


/* ---------- Modular Elements ---------- */
/* ------ Nav Bar ------*/

nav {
	position: unset;
}

nav-item {
	margin-bottom: 0;
}

nav a {
	text-transform: uppercase;
	font-size: 0.8rem;
	color: #474747;
	display: inline-block;
	padding: .5rem;
	text-decoration: none;
	letter-spacing: 0.09em;
}

.styleguide a {
	padding-right: 5rem;
	padding-left: 5rem;
}

nav .grid-col-1of6 a {
	padding: 0rem;
}

nav .grid-col-1of6 img {
	width: 30%;
	height: auto;
}

nav .search-bar input {
	border-radius: .8rem;
}
/*nav .search-bar {
	width: 50vw;
}*/



/* ------ Hero Advertising ------*/

.hero .text {
	padding-top: 7rem;
	padding-left: 3rem;
}

.hero h1 {
  font-family: "Freight Big Pro";
  font-size: 3rem;
  text-transform: none;
  color: #474747;
  max-width: 30rem;
  line-height: 4rem;
}

.hero button {
	margin-top: 1rem;
} 

/* ------ Review Post -------- */
.review p.author {
	color: #474747;
}

.review h2, .review-body p  {
	color: #474747;
}

.review-body p {
	margin-top: -1rem;
}

.review-star-rating p {
  color: #FED670;
  padding-right: 1rem;
  font-size: 1.2rem;
}


/* ------ Product Listing -------- */
.container-product-listing {
  position: relative;
}

.container-product-listing img {
  width: 40%;
  height: auto;
  transition: .5s ease;
  padding: 0;
  margin: 0;
}

figure.product-item:hover img {
  opacity: 0.4;
}

figure.product-item:hover .btn-position {
  opacity: 1;
}

.btn-quick-add {
  	font-family: "Suisse Intl Regular", Verdana, sans-serif; 
	font-size: 0.8rem;
	color: #20605A;
	border: 2px solid #20605A;
	/*background-color: #fff;*/
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	border-radius: 1.2rem;
	font-weight: 900;
	opacity: 0.9;
}

.btn-quick-add:hover {
	color: #fff;
    background-color: #20605A;
}

.btn-position {
  opacity: 0;
  position: absolute;
  top: 160%;
  left: 18%;
  transform: translate(-50%, -50%);
  text-align: center;
}

p.price {
	margin-top: -.1rem;
	color: #474747;
	font-size: .9rem;
	white-space: nowrap;
}


.container-product-listing figcaption {
	font-family: "Freight Big Pro", Verdana, sans-serif; 
	font-size: 1.5rem;
	letter-spacing: .08rem;
	padding-top: 0.5rem;
	color: #474747;
} 


/* ------ Shipping Details ------ */

form .name-item, form .contact-item, form .grid-col-1of3 {
	padding-right: 4rem;
}

form {
	padding-top: 2rem;
}

form .btn-item {
	float: right;
	padding-right: 35rem;
}


label {
  color: #20605A;
  font-family: "Suisse Intl Regular", Verdana, sans-serif; 
  margin-bottom: .5rem;
}

#address{
	width: 25rem;
}	

#pc {
	width: 14rem;
}

#province, #city {
	width: 13rem;
}

#fname, #lname, #email-ad {
	width: 17rem;
}

#phone-number {
	width: 10rem;
}

input {
	margin-bottom: 2rem;
}


/* ------ Support Template ------ */ 
.side-nav-container .menu-item1, .side-nav-container .menu-item2, .side-nav-container .menu-item3,
.body-container  .menu-item1, .body-container  .menu-item2, .body-container .menu-item3 {
	background-color: #ddd;
	border: .5px dashed #333;
	margin: .75rem;
	text-align: center;
}
/* ---------- Modular Elements Ends ---------- */

