
/*<!--The structure of this CSS document was built from referencing Weeks 2's lab tutorials-->*/
html, .billing label, .shipping label {
	font-family: "Styrene-Regular", Verdana, sans-serif;
	color: #474747;
	margin: 0;
	line-height: 1.8rem;
	font-size: 1rem;
	letter-spacing: 0.025rem;
}

.billing label, .shipping label {
	text-transform: none;
}

/* ------ Link Styling ------*/
section.categories a {
	color: #474747;
}

a {
	color: #339F95;
	text-decoration: none;
}

.contact a {
	color: #474747;
}

.location .alternating-content-text a {
	color: #474747;
}

.location .alternating-content-text a:hover, .contact a:hover  {
	color: #339F95;
}

/* ------ Paragraph Styling ------*/
p {
	max-width: 40rem;
	padding: 1rem 0rem 1rem 0rem;
	line-height: 2.2rem;
}

p.about-desc {
	text-align: center;
	padding-top: 5rem;
	margin: auto;
}

section.location .alternating-content-text p {
	padding: 0;
}


/* ------ Header Styling ------*/
h1 {
  font-family: "FreightBigPro-Light";
  font-weight: 100;
  font-size: 3.5rem;
  text-transform: none;
  color: #474747;
  line-height: 4rem;
  text-align: left;
  max-width: 35rem;
  letter-spacing: 0.10rem;
}

.shop h1, .shop p, .services h1, .services p, .about h1, .about p, .support h1, .support p,
.cart h1, .confirmation h1, .confirmation p {
	margin: auto;
 	text-align: center;
}

.confirmation .hero-text h3 {
	text-align: center;
	padding: 2rem 0rem 2rem 0rem;
}


h2  {
	font-family: "FreightBigPro-Light", Verdana, sans-serif;
	font-weight: 100;
	font-size: 3rem;
	letter-spacing: 0.1rem;
	margin: 0;
	line-height: 4rem;
}

h3 {
	font-family: "Styrene-Regular", Verdana, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin-bottom: 0;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	text-align: left;
}


section.values h3 {
	text-align: center;
	color: #004C45;
}


/* ------ Section Styling ------*/
section.values {
	padding: 0rem 5rem 7rem 5rem;
}

section.categories {
	padding: 7rem 5rem 7rem 5rem;
}

section.products, section.review   {
	padding: 0rem 5rem 0rem 5rem;
}

section.faq  {
	padding: 0rem 5rem 5rem 5rem;
}

 .row-spacer{
	padding-bottom: 4rem;
}  

section.detailed-product {
	padding: 8rem;
}

.row-1 {
	padding-bottom: 0;
}


/* ------ Buttons ------*/
.btn-main { /*-Referenced John Fauld's "Styling Form Buttons" article for styling buttons -->*/
	font-size: 0.8rem;
	background-color: #20605A;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	padding: 0.7rem 1.5rem;
	border-radius: 1.2rem;
	opacity: 1;
	border: none;
	color: #fff;

}

.full-service .btn-main {
	display: inline-block;
}

.btn-main:hover, .btn-main:focus { /*Reference W3schools.com for styling button hover*/
	background-color: #064C45;
}

.btn-submit {
	font-family: "Styrene-Regular", Verdana, sans-serif;
	font-size: 0.9rem;
	color: #004C45;
	background-color: #fff;
	letter-spacing: 0.1rem;
	border: none;
	text-transform: uppercase;
	opacity: 1;
}

.review.form .btn-submit {
	float: right;
	padding-top: 1rem;
}

.btn-submit:hover, .btn-submit:focus {
	border-bottom: 2px solid #004C45;
}

.btn-add {
  	font-family: "Styrene-Regular", Verdana, sans-serif;
	font-size: 0.8rem;
	color: #20605A;
	border: 2px solid #20605A;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	padding: 0.3rem 1rem;
	border-radius: 1rem;
	float: left;
	text-align: center;
	margin-top: 1rem;
	width: 100%;
}

.btn-add:hover {
	color: #fff;
    background-color: #20605A;
}

.col4 button {
	background-color: #fff;
	border-radius: .5rem;
	padding: .1rem .5rem .1rem .5rem;
	border: .01rem solid #004C45;
	cursor: pointer;
}

.center {
	text-align: center;
}

/* ------ Forms, Text Fields ------*/
form .name-item, form .grid-col-1of3, form .grid-col-1of2 {
	padding-right: 4rem;
	display: inline-block;
}

form {
	padding-top: 1rem;
}

form .btn-item {
	float: right;
	padding-right: 35rem;
}

label, h3.billing-address {
  color: #20605A;
  font-family: "Styrene-Regular", Verdana, sans-serif;
  margin-bottom: .5rem;
  letter-spacing: 0.03rem;
  padding-right: 1rem;
  text-transform: uppercase;
  font-size: .9rem;
}

h3.billing-address {
	padding: 0;
}

input, select, textarea {
  padding: 5px 10px; /*top and bottom, right and left*/
  display: block;
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  box-sizing: border-box;
  color: #474747;
  margin: 0;
  background-color: #fff;
}

textarea {
	width: 100%;
	resize: none; 
}

/* Styling placeholder text from https://css-tricks.com/almanac/selectors/p/placeholder/*/
input::placeholder, textarea::placeholder {
	font-size: 1rem;
}

form input {
	margin-bottom: 2rem;
}

input[type=text]:hover, input[type=text]:focus {
  border: 1px solid #20605A;
  transition-property: border-color;
  transition-duration:0.4s;
  color: #C0C0C0;
}

input[type=text]:focus {
  color: #474747;
}

.product-desc select, .product-desc input#quantity {
	display: inline-block;
}

.product-desc input#quantity {
	max-width: 4rem;
}

option {
	font-size: 1.3rem;
}

/* Remove default outline on text inputs from https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: #20605A;
}

#review-title{
	width: 100%;
}

#address {
	width: 50vw;
}

#pc {
	width: 14rem;
}

#province, #city {
	width: 13rem;
}

#fname, #lname, #email-ad, #phone-number {
	width: 15rem;
}

#exp-date {
	width: 6rem;
}

#cc-number {
	width: 16rem;
}

 #cc-code {
 	width: 5rem;
 }

#shipping, #billing {
	display: inline-block;
}

input#review-body {
	width: 29rem;
	height: 10rem;
}

.personal-details input {
	margin-right: 1rem;
}

.main-footer input#email {
	display: inline-block;
}

/* ------ Top Nav Bar ------*/
div.announcement-bar {
	display: block;
}

.announcement-bar, .sub-footer{
	color: #fff;
	background-color: #004C45;
	width: 100%;
	text-align: center;
	font-size: 0.75rem;
	letter-spacing: 0.04rem;
	padding: .5rem;
}

nav .col-1of6.search-bar  {
	padding-right: 3rem;
}

nav a {
	text-transform: uppercase;
	font-size: 0.8rem;
	color: #474747;
	display: inline-block;
	padding: .5rem;
	text-decoration: none;
	letter-spacing: 0.09em;
}

/*Sticky nav bar from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_navbar_sticky*/
nav.grid {
	padding: 0;
	border: 0.5px solid #eee;
    /*position: fixed;*/
  	top: ;
  	width: 100%;
  	background-color: #fff;
  	z-index: 11;
}

nav.grid img.logo {
	margin-left: 4rem;
}

nav.grid a {
	padding-top: 1rem;
	padding-bottom: 0;
	font-size: 0.8rem;
	letter-spacing: 0.05rem;
}

 nav.grid input {
 	margin-top: 0.5rem;
 }

nav .col-1of6 img {
	width: 1.3rem;
	height: auto;
}

.dropdown-items {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0rem .2rem .5rem 0rem rgba(0,0,0,0.2);
  padding: 0rem 1rem 1rem 1rem;
  z-index: 12;
}

.col-1of6:hover > .dropdown-items {
  display: block;
}

.col-1of6:hover > .dropdown-items a:hover {
  color: #339F95;
}


/* ------ Hero Advertising ------*/
.hero-text {
	padding: 6rem;
} 

.support .hero-text, .confirmation .hero-text {
	padding: 9rem 6rem 6rem 6rem;
}

.services .hero-text {
	padding: 6rem 6rem 0rem 6rem;
}

.shop p {
	 max-width: 40rem;
}

.hero button {
	margin-top: 1rem;
}

/* ------ Home 3 Tiles------*/
.menu {
	padding: 2rem 3rem 2rem 3rem;
	background-color: #F5EFEB;
}

.menu p {
	font-size: .9rem;
	letter-spacing: 0.09rem;
	text-transform: uppercase;
	margin: 0;
}

.menu h2 {
	font-size: 2.7rem;
}

 .menu:hover p, .menu:hover h2, .menu:hover {
	background-color: #004C45;
	color: #fff;
}


/* ------ Home - Alternating Content-----*/
.alternating-content-img img {
	/*width: 39.6rem;*/
	width: 43rem;
	height: 100%;
}

.alternating-content-text  {
	padding: 0rem 4rem 0rem 4rem;
	margin: auto;
	flex: 2 1 15%;
}

.col-1of2-right {
	text-align: right;
}

.alternating-content-text.col-1of2-right p {
	max-width: none;
}

.grid.products {
	padding-bottom: 5rem;
}

.alternating-content {
	padding: 0rem 5rem 5rem 5rem;
}


/* ------ Services - 3 Tiles------*/
.menu.services p  {
	left: 1.5rem;
	top: 5rem;
}


/* ------ About Us -------- */
.values img {
	width: 5rem;
	height: auto;
}

.values {
	text-align: center;
}

.values.col-2of3 img {
	width: 4rem;
	height: auto;
}

.values.col-1of3 img {
	padding-bottom: 1rem;
}

section.location .alternating-content-img img {
	box-shadow: 1px 2px 10px #eee;
}

/* ------ Individual Product Description -------- */
/*.product-desc h2.price {
	float: right;
	font-size: 1.5rem;
}*/

.detailed-product p {
	max-width: 30rem;
}

.product-img img {
	width: 30rem;
	height: auto;
}

.product-img {
	padding-right: 4rem;
}

.product-desc h3 {
	font-family: "FreightBigPro-Light";
	font-size: 1.6rem;
	letter-spacing: 0.15;
	margin-top: 0;
}

.product-desc .stars p {
  margin-bottom: 0;
}

/* ------ Review Post -------- */
.review p.author {
	margin: 0;
	padding-bottom: 1.2rem;
	padding-top: .6rem;
}

.review-body p {
	margin-top: -1rem;
}

.stars p {
  color: #339F95;
}

.rating .stars p {
  opacity: 0.2;
  font-size: 1.5rem;
  padding: 0;
}

.review-content .stars p {
	margin: 0;
	margin-top: 2rem;
}

.review-content h3 {
	color: #20605A;
}


/* ------ Product Listings -------- */
.product-item {
  padding: 3rem;
}

.product-item img, .services img {
  width: 21rem;
  height: auto;
}

 .services img  {
 	width: 16rem;
 }

.product-item img:hover {
  opacity: 0.7;
}


p.price {
	color: #474747;
	margin: 0;
	padding: 0;
}

.product-item p.product-name {
	font-family: "FreightBigPro-Book", Verdana, sans-serif;
	font-size: 1.5rem;
	letter-spacing: .08rem;
	color: #474747;
	margin: 0;
}

.product-item { 
	padding-bottom: 3rem;
}


/*------- FAQ/Support---------*/
.support .hero-text h1 {
	max-width: none;
}

.panel p {
	max-width: 55rem;
	text-align: left;
	margin: 0;
}

/*------- Footer---------*/
.main-footer {
	background: #F2EAE4;
	padding-right: 4rem;
	padding-left: 4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 0;
	grid-template-columns: 1.75fr 1fr 1fr;
	grid-column-gap: 70px;
	font-size: 0.8rem;
}

.main-footer p {
	padding: 0;
	text-align: left;
	line-height: 1.7rem;
}

.child-footer.about {
	max-width: 20rem;
}

.child-footer.location {
	max-width: 12rem;
}

.child-footer.contact {
	max-width: 10.1rem;
}

.child-footer.mailing-list {
	max-width: 15rem;
}

.child-footer.mailing-list button {
	color: #20605A;
	border-radius: .3rem;
	border: .1rem solid  #20605A;
	background-color: #F2EAE4;
}

.child-footer.mailing-list button:hover {
	border-bottom: none;
	background-color: #20605A;
	color: #fff;
}


.child-footer.mailing-list input::placeholder {
	font-size: .8rem;
}

.sub-footer a {
	color: #fff;
	opacity: 0.95;
	letter-spacing: 0.03rem;
	margin-top: auto;
	margin-bottom: auto;
}

.sub-footer a:hover, .sub-footer a:focus {
	color: #339F95;
}

.sub-footer p {
	text-align: center;
	max-width: 100rem;
	margin: 0;
}

/* ------ Accordian FAQ ------ */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #fff;
  border-bottom: .1rem solid #20605A !important;
  color: #444;
  cursor: pointer;
  padding: 2rem 1rem 2rem 2rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-family: "FreightBigPro-Book", Verdana, sans-serif;
  font-size: 1.6rem;
  margin-bottom: 0;
  letter-spacing: 0.06rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #20605A;
  color: #fff;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: #fff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
 padding: 0 18px;.
 background-color: white;
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.2s ease-out;
}

/* ------- Cart -------- */ 
.padR-s { 
	padding-right: 20px; 
} 
.padL-s { 
	padding-left: 20px; 
} 
 
.border-bottom { 
	border-bottom: 1px solid #474747; 
} 
.product-image { 
	width: 100% 
} 

.half-width-left { 
	max-width: 50rem; 
	width: 100%; 
	margin-left: auto; 
	padding-right: 10em; 
	padding-bottom: 10em; 
} 

.flex { 
	display: flex; 
} 

.jc-sb { 
	justify-content: space-between; 
	background-color: #F2EAE4;
	padding: 0rem 3rem 0rem 3rem;
} 

.jc-sb p {
	margin: 0;
}

.right-align { 
	text-align: right; 
	background-color: #F2EAE4;
	padding: 1rem 1rem 2rem 1rem;
} 

.cart h1 {
	padding-top: 1rem
}

.col4.border-bottom p {
	font-size: 1rem;
	text-transform: uppercase;
}

.product-name p, p.product-size, p.product-price, .product-quantity  {
	font-size: 1.2rem;
}

.col4 img.product-image {
	width: 10rem;
}

/* ------ Shipping and Billing ------ */
.cart h1, .full-service h1 {
	margin: 3rem 1rem 3rem 1rem;
	padding-top: 0;
}

.cart form, .full-service form  {
	padding: 1rem 5rem 1rem 5rem;
}

/* ------ Full Service ------ */
.full-service h1 {
	margin: 3rem 1rem 3rem 5rem;
	padding-top: 0;
}

.full-service .left-align a {
	color: #474747;
}

.full-service .left-align a:hover, a:focus {
	color: #20605A;
}

.full-service .right-align-loc { 
	text-align: right; 
	padding: 1rem 4rem 4rem 1rem;
}

.grid-col-1of1.budget, .grid-col-1of1.art-desc {
	padding-bottom: 3rem;
}