
/*<!--The structure of this CSS document was built from referencing Weeks 2's lab tutorials-->*/
html {
	font-family: "SuisseIntl-Regular", Verdana, sans-serif;
	color: #474747;
	margin: 0;
}

body {
	line-height: 1.8rem;
	font-size: 0.9rem;
	letter-spacing: 0.025rem;
}

code {
	background: #EFEFEF;
	padding: 1rem;
	display: block;
	max-width: 30rem;
	font-size: 0.7rem;
	line-height: 0.9rem;
	margin-bottom: 1rem;
}

ol {
	margin-top: 0;
}


/* ------ Link Styling ------*/
section.categories a {
	color: #474747;
}

a {
	color: #339F95;
	text-decoration: none;
}


section.intext a:hover, section.intext a:focus, section.intext a:active {
	color: #20605A;
	text-decoration: none;
	transition: color 0.5s;
}

.contact a {
	color: #474747;
}

.location .alternating-content-text a {
	color: #474747;
}

.location .alternating-content-text a:hover, .contact a:hover  {
	color: #339F95;
}

/* ------ Paragraph Styling ------*/
p {
	max-width: 38rem;
}

section.definition p, .citations p {
	padding-bottom: 2.5rem;
}

p.about-desc {
	text-align: center;
	padding-top: 5rem;
	margin: auto;
}

.shop p {
	padding-top: 2rem;
}

/* ------ Header Styling ------*/
h1, h1.web {
  font-family: "FreightBigPro-Light";
  font-weight: 100;
  font-size: 3.4rem;
  text-transform: none;
  color: #474747;
  line-height: 4rem;
  text-align: left;
  max-width: 35rem;
  letter-spacing: 0.10rem;
}


.shop h1, .shop p, .services h1, .services p {
	margin: auto;
 	text-align: center;
}

h2  {
	font-family: "FreightBigPro-Light", Verdana, sans-serif;
	font-size: 2rem;
	letter-spacing: 0.08rem;
	margin: 0;
}

.styleguide h2 {
	font-size: 1.5rem;
}

h3, h1.styleguide {
	font-family: "SuisseIntl-Normal", Verdana, sans-serif;
	font-weight: 400;
	font-size: .9rem;
	margin-bottom: 0;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	text-align: left;
}

h1.styleguide {
	color: #339F95;
}

section.values h3 {
	text-align: center;
	font-weight: 600;
	color: #004C45;
}

.faq h1 {
    margin: auto;
    text-align: center;
    max-width: none;
}


/* ------ Section Styling ------*/
section.categories, section.values, section.faq {
	padding: 8rem 0rem 8rem 0rem;
}

section.products {
	padding: 5rem;
}

section.citations, section.styleguide  {
	padding: 3rem;
}

section.detailed-product, section.review, .row-spacer{
	padding-bottom: 8rem;
}

.row-1 {
	padding-bottom: 0;
}

/* ------ In-Text Link ------*/
section .intext a {
	color: #339F95;
	text-decoration: none;
}

section.in-text a {
	text-decoration: underline black;
	padding: .25rem .25rem;
}

section.in-text a:hover, section.in-text a:focus, section.in-text a:active {
	color: white;
	background-color: #0B6108;
	text-decoration: none;
	transition: color 0.5s;
	padding: .25rem .5rem;
	max-width: 8rem;
}

/* ------ Buttons ------*/
.btn-main { /*-Referenced John Fauld's "Styling Form Buttons" article for styling buttons -->*/
	font-family: "SuisseIntl-Regular", Verdana, sans-serif;
	font-size: 0.8rem;
	background-color: #20605A;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	padding: 0.7rem 1.5rem;
	border-radius: 1.2rem;
	opacity: 1;
	border: none;
	margin-top: 2rem;
	color: #fff;
}

.btn-main:hover, .btn-main:focus { /*Reference W3schools.com for styling button hover*/
	background-color: #064C45;
}

.btn-submit {
	font-size: 0.9rem;
	color: #004C45;
	background-color: #fff;
	letter-spacing: 0.1rem;
	border: none;
	text-transform: uppercase;
	opacity: 1;
	font-weight: 900;
}

.review.form .btn-submit {
	float: right;
	padding-top: 1rem;
}

.btn-submit:hover, .btn-submit:focus {
	border-bottom: 2px solid #004C45;
}

/* ------ Colour Swatches ------*/
div.colour {
	display: inline-block;
}

div p.colour {
	padding: 2rem;
	margin: 0;
	text-align: center;
}

div.white {
	background-color: #ffffff;
	border: 1px solid #EFEFEF;
}

div.green {
	background-color: #20605A;
	color: #ffffff;
}

div.grey {
	background-color: #474747;
	color: #ffffff;
}

div.beige {
	background-color: #F2EAE4;
}

div.pink {
	background-color: #DDAAA0;
}

div.white p, div.beige p, div.pink p, div.grey p, div.green p {
	max-width: 13rem;
}

div.grey p.blk-text, div.green p.blk-text  {
	color: #000;
}

/* ------ Forms, Text Fields ------*/
form .name-item, form .contact-item, form .grid-col-1of3 {
	padding-right: 4rem;
}

form {
	padding-top: 1rem;
}

form .btn-item {
	float: right;
	padding-right: 35rem;
}

label {
  color: #20605A;
  font-family: "SuisseIntl-Regular", Verdana, sans-serif;
  margin-bottom: .5rem;
  letter-spacing: 0.02rem;
  padding-right: 1rem;
}

input, select, textarea {
  padding: 5px 10px; /*top and bottom, right and left*/
  display: block;
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  box-sizing: border-box;
  color: #474747;
  margin: 0;
  background-color: #fff;
}

textarea {
	width: 100%;
	resize: none; 
}

input {
	margin-bottom: 1rem;
}

input[type=text]:hover{
  border: 1px solid #20605A;
  transition-property: border-color;
  transition-duration:0.4s;
  opacity: .5;
}

input[type=text]:focus {
	color: #000;
}

.product-desc select, .product-desc input#quantity {
	display: inline-block;
}

.product-desc input#quantity {
	max-width: 4rem;
}

option {
	font-size: 1.3rem;
}

/* Remove default outline on text inputs from https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: #20605A;
}

#address, #review-title{
	width: 29rem;
}

#pc {
	width: 14rem;
}

#province, #city {
	width: 13rem;
}

#fname, #lname, #email-ad {
	width: 10rem;
}

#phone-number {
	width: 10rem;
}

label #fname, label #email  {
	display: block;
}

#fname, #email  {
	display: inline-block;
}

input#review-body {
	width: 29rem;
	height: 10rem;
}

.personal-details input {
	margin-right: 1rem;
}

/* ------ Top Nav Bar ------*/
.announcement-bar, .sub-footer{
	color: #fff;
	background-color: #004C45;
	width: 100%;
	text-align: center;
	font-size: 0.75rem;
	letter-spacing: 0.04rem;
}

nav .col-1of6.search-bar  {
	padding-right: 3rem;
}

div.announcement-bar {
	display: block;
}

nav a {
	text-transform: uppercase;
	font-size: 0.8rem;
	color: #474747;
	display: inline-block;
	padding: .5rem;
	text-decoration: none;
	letter-spacing: 0.09em;
}

nav.grid {
	padding: 0;
	border: 0.5px solid #eee;
}

nav.grid img.logo {
	margin-left: 4rem;
}

nav.grid a {
	padding-top: 1rem;
	padding-bottom: 0;
	font-size: 0.7rem;
	letter-spacing: 0.03rem;
}

 nav.grid input {
 	margin-top: 0.5rem;
 }

nav .col-1of6 img {
	width: 20%;
	height: auto;
}

nav .search-bar input {
	border-radius: .8rem;
	height: 2rem;
	font-size: 0.8rem;
}
nav .search-bar {
	width: 40rem;
}

/* ------ Hero Advertising ------*/
.hero-text {
	padding-top: 4.5rem;
	padding-left: 5rem;
}

.shop p {
	 max-width: 35rem;
}

.hero button {
	margin-top: 1rem;
}


/* ------ Home 3 Tiles------*/
.menu {
	position: relative;
}

.menu img {
	width: 15rem;
	height: 100%;
}

.menu p {
	font-family: "FreightBigPro-Book";
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
	position: absolute;
	top: 3.5rem;
	left: 3rem;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 2rem;
}

/* ------ Services 3 Tiles------*/
.menu.services p  {
	left: 1.5rem;
	top: 5rem;
}

/* ------ Alternating Content-----*/
.alternating-content-img img {
	width: 39.6rem;
	height: 100%;
}

.alternating-content-text  {
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
	flex: 2 1 20%;
}

.col-1of2-right {
	text-align: right;
}

.alternating-content-text.col-1of2-right p {
	max-width: none;
}


.grid.products {
	padding-bottom: 5rem;
}

.alternating-content p {
	max-width: 25rem;
}

/* ------ About Us -------- */
.values img {
	width: 20%;
	height: auto;
}

.values {
	text-align: center;
}

.values.col-2of3 img {
	width: 15%;
	height: auto;
}

.values.col-1of3 img {
	padding-bottom: 1rem;
}


section.location .alternating-content-img img {
	box-shadow: 1px 2px 10px #eee;
}


/* ------ Individual Product Description -------- */
.product-desc .title-container h2, .product-desc h3 {
	display: inline-block;
}

.product-img {
	margin: auto;
}

.product-desc h2.price {
	float: right;
	font-size: 1.5rem;
}

.detailed-product {
	padding: 3rem 12rem 0rem 12rem;
}

.detailed-product p {
	max-width: 30rem;
}

.product-img img {
	width: 25rem;
	height: auto;
}

.product-img, .product-desc {
	margin-bottom: 0;
	padding-bottom: 0;
	padding-right: 4rem;
}

.product-desc h3 {
	font-family: "FreightBigPro-Light";
	font-size: 1.6rem;
	letter-spacing: 0.15;
	margin-top: 0;
}

.product-desc .review-star-rating p {
  margin-bottom: 0;
}

.product-desc .btn-main{
	margin-top: 1rem;
}

/* ------ Review Post -------- */
.review p.author {
	color: #474747;
	margin: 0;
	padding-bottom: 1.2rem;
	padding-top: .6rem;
}

.review h2, .review-body p  {
	color: #474747;
}

.review-body p {
	margin-top: -1rem;
}

.review-star-rating p {
  color: #339F95;
  padding-right: .8rem;
  font-size: 1rem;
}

.review-content .review-star-rating p {
	margin: 0;
	margin-top: 2rem;
}

.review-content h3 {
	color: #20605A;
	font-weight: 600;
}

.form > .btn-submit {
 	float: right;
}

.review form {
	padding-top: 2em;
}

/* ------ Product Listings -------- */
.container-product-listing, .product-item {
  position: relative;
}

.product-item img {
  width: 80%;
  height: auto;
}

/*.product-item:hover img {
  opacity: 0.4;
}

.product-item:hover .btn-position {
  opacity: 1;
}
*/
.btn-add {
  	font-family: "SuisseIntl-Regular", Verdana, sans-serif;
	font-size: 0.8rem;
	color: #20605A;
	border: 2px solid #20605A;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	padding: 0.1rem 0.7rem;
	border-radius: 1rem;
	font-weight: 900;
	float: right;
	margin-right: 3.5rem;
}

.btn-add:hover {
	color: #fff;
    background-color: #20605A;
}

/*.btn-position {
  opacity: 0;
  position: absolute;
  top: 11rem;
  left: 3rem;
  text-align: center;
}
*/
p.price {
	color: #474747;
	font-size: .9rem;
	margin: 0;
}

.product-item p.product-name {
	font-family: "FreightBigPro-Book", Verdana, sans-serif;
	font-size: 1.5rem;
	letter-spacing: .08rem;
	color: #474747;
	margin: 0;
}

.product-item{
	padding-bottom: 3rem;
}


/*------- FAQ/Support---------*/
.faq .hero-text {
	padding-top: 0;
	margin: auto;
}
.faq h1 {
	color: #fff;
}

/*------- Footer---------*/
.main-footer {
	background: #F2EAE4;
	padding-right: 4rem;
	padding-left: 4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	/*margin-top: 6rem;*/
	margin-bottom: 0;
	grid-template-columns: 1.75fr 1fr 1fr;
	grid-column-gap: 70px;
	/* height: 17rem; */
	font-size: 0.8rem;
}

.child-footer.about {
	max-width: 20rem;
}

.child-footer.location {
	max-width: 12rem;
}

.child-footer.contact {
	max-width: 10.1rem;
}

.sub-footer a {
	color: #fff;
	opacity: 0.95;
	letter-spacing: 0.03rem;
	margin-top: auto;
	margin-bottom: auto;
}

.sub-footer a:hover, .sub-footer a:focus {
	color: #339F95;
}

.sub-footer p {
	text-align: center;
	max-width: 100rem;
	margin: 0;
	padding: 0;
}

/* ------ Accordian FAQ ------ */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #F5EFEB;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-family: "FreightBigPro-Book", Verdana, sans-serif;
  font-size: 1.6rem;
  margin-bottom: 0;
  letter-spacing: 0.06rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #20605A;
  color: #fff;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: #fff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
 padding: 0 18px;
 background-color: white;
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.2s ease-out;
}

/* ------ Cart -------- */ 
 
.padR-s { 
	padding-right: 20px; 
} 
.padL-s { 
	padding-left: 20px; 
} 
 
.border-bottom { 
	border-bottom: 1px solid #474747; 
} 
.product-image { 
	width: 100% 
} 
.half-width-left { 
	max-width: 500px; 
	width: 100%; 
	margin-left: auto; 
	padding-right: 10em; 
	padding-bottom: 10em; 
} 
.flex { 
	display: flex; 
} 
.jc-sb { 
	justify-content: space-between; 
} 
.right-align { 
	text-align: right; 
} 

